Repository JordiOrriols/react-start-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add node-sass and sourcemap explorer
  package-lock.json
  package.json
Due: none

Addstorybook to dependencies
  package.json
Due: none

Update package-lock
  package-lock.json
  src/index.css
Due: prettier --write, stylelint --

Change css to scss
  src/App.css
  src/index.scss
Due: prettier --write, stylelint --

Create App.scss
  src/App.scss
Due: prettier --write, stylelint --

Add stories from storybook
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/stories/0-Welcome.stories.tsx
  src/stories/1-Button.stories.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Update serviceWorker.ts
  src/serviceWorker.ts
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add welcome component
  src/App.scss
  src/App.tsx
  src/components/welcome/logo.svg
  src/components/welcome/welcome.scss
  src/components/welcome/welcome.stories.tsx
  src/components/welcome/welcome.test.tsx
  src/components/welcome/welcome.tsx
  src/stories/1-Button.stories.tsx
Due: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

update storybook folder
  .storybook/main.js
Due: none

Using css
  src/components/welcome/welcome.css
  src/components/welcome/welcome.stories.tsx
  src/components/welcome/welcome.tsx
Due: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

disable scss
  package-lock.json
  package.json
  src/App.css
  src/index.css
Due: prettier --write, stylelint --

Return to css
  package.json
  src/App.tsx
  src/index.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add storyshot
  package-lock.json
  package.json
  src/storyshots.test.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Update dependencies
  package-lock.json
  package.json
Due: none

Create .nvmrc
  .nvmrc
Due: none

Update README.md
  README.md
Due: none

Add storybook-static
  storybook-static/asset-manifest.json
  storybook-static/favicon.ico
  storybook-static/iframe.html
  storybook-static/index.html
  storybook-static/logo192.png
  storybook-static/logo512.png
  storybook-static/main.6144c9e66f3c3af5dcce.bundle.js
  storybook-static/main.71f95514294f190cec57.bundle.js
  storybook-static/main.71f95514294f190cec57.bundle.js.LICENSE.txt
  storybook-static/main.71f95514294f190cec57.bundle.js.map
  storybook-static/manifest.json
  storybook-static/precache-manifest.e7e073522065e04185271bec20c05714.js
  storybook-static/robots.txt
  storybook-static/runtime~main.286b69a873d49f2f199c.bundle.js
  storybook-static/runtime~main.71f95514294f190cec57.bundle.js
  storybook-static/runtime~main.71f95514294f190cec57.bundle.js.map
  storybook-static/sb_dll/storybook_ui-manifest.json
  storybook-static/sb_dll/storybook_ui_dll.LICENCE
  storybook-static/sb_dll/storybook_ui_dll.js
  storybook-static/service-worker.js
  storybook-static/static/css/main.3f554f14.chunk.css
  storybook-static/static/css/main.3f554f14.chunk.css.map
  storybook-static/static/media/logo.5d5d9eef.svg
  storybook-static/vendors~main.71f95514294f190cec57.bundle.js
  storybook-static/vendors~main.71f95514294f190cec57.bundle.js.LICENSE.txt
  storybook-static/vendors~main.71f95514294f190cec57.bundle.js.map
  storybook-static/vendors~main.7aa7260d207780587ba0.bundle.js
Due: none

Add webpack package
  package-lock.json
  package.json
Due: none

Fix tests not working due to react testing library update
  package-lock.json
  package.json
Due: none

update storybook static
  storybook-static/asset-manifest.json
  storybook-static/iframe.html
  storybook-static/main.71f95514294f190cec57.bundle.js.map
  storybook-static/main.ed8c6639838ad0e7f858.bundle.js
  storybook-static/main.ed8c6639838ad0e7f858.bundle.js.LICENSE.txt
  storybook-static/main.ed8c6639838ad0e7f858.bundle.js.map
  storybook-static/precache-manifest.2651ff7aa0e647bb28cea1e03061420b.js
  storybook-static/precache-manifest.e7e073522065e04185271bec20c05714.js
  storybook-static/runtime~main.71f95514294f190cec57.bundle.js.map
  storybook-static/runtime~main.ed8c6639838ad0e7f858.bundle.js
  storybook-static/runtime~main.ed8c6639838ad0e7f858.bundle.js.map
  storybook-static/service-worker.js
  storybook-static/vendors~main.71f95514294f190cec57.bundle.js.map
  storybook-static/vendors~main.ed8c6639838ad0e7f858.bundle.js
  storybook-static/vendors~main.ed8c6639838ad0e7f858.bundle.js.LICENSE.txt
  storybook-static/vendors~main.ed8c6639838ad0e7f858.bundle.js.map
Due: none

Update dependencies
  package.json
Due: none

Update testing library
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Fix webpack dependency
  package.json
Due: none

Move dev dependencies to dependencies
  package.json
Due: none

Remove storyshoot
  package-lock.json
  package.json
  src/storyshots.test.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Update readme with missing scripts
  README.md
  package-lock.json
  package.json
Due: none

Create LICENSE
  LICENSE
Due: none

Path conditions:
  prettier --write: (((any of: public/**/*.{html,json}) or (any of: src/**/*.{json,md})) or (any of: src/**/*.{css,scss})) or (any of: src/**/*.{tsx,ts})
  stylelint --: any of: src/**/*.{css,scss}
  npm run tslint --: any of: src/**/*.{tsx,ts}
  npm run build: any of: src/**/*.{tsx,ts}
  npm run test -- --bail --findRelatedTests: any of: src/**/*.{tsx,ts}
